.left_nav {
    margin-top: 20px;
}
.left_nav_menu a{
    text-decoration: none!important;
}

.left_nav_link {
    display: block;
    width: auto;
    padding: 10px 10px 10px 15px;
}

.left_nav_active {
    text-decoration: none;
    color: #ffffff;
    background-color: #007bff;
    border-radius: 4px;

}