<header th:fragment="header (user)"  xmlns:th="http://www.thymeleaf.org" class="header">
     <div class="header_user_info">
          <p th:text="${user.getEmail()}" class="header_user_mail"></p> <span class="header_user_text">with roles:</span>
          <span th:if="${user.isAdmin()}==true">
               <span class="header_user_role">admin user</span>
          </span>
          <span th:if="${user.isAdmin()}==false">
               <span class="header_user_role">user</span>
          </span>
     </div>
     <div class="header_logout">
          <a href="/logout" class="header_logout_link">Logout</a>
     </div>
</header>