<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:insert="fragments/head :: head"></div>
<body>
<div th:insert="fragments/header :: header (${user})"></div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <div th:replace="fragments/left_nav :: left_nav (${user})"></div>
        </div>
        <div class="col-md-10">
            <div class="content-block">
                <div th:replace="fragments/user_table :: user_table (${user})"></div>
            </div>
        </div>
    </div>
</div>
<div>


</div>
</body>
</html>