.left_nav {
    margin-top: 15px;
}


.left_nav_list {
    text-align: left;
}


.left_nav_link {
    display: block;
    height: 40px;
    width: auto;
    font-size: 18px;
    padding-left: 15px;
    padding-top: 10px;
    border-radius: 3px;
}

.left_nav_link:hover {
    background-color: #007bff;
    transition: 0.4s;
}