
<form th:method="POST" th:action="@{/admin/edit}" th:object="${user}"  xmlns:th="http://www.thymeleaf.org">

    <input type="hidden" name="id" th:value="${user.getId()}">

    <label for="name">name</label>

    <input type="text" th:field="*{username}"  id="name">

    <label for="surname">surname</label>

    <input type="text" th:field="*{surname}" id="surname">

    <label for="password">password</label>

    <input type="text" th:field="*{password}" id="password">

    <!--        <label for="role">role</label>-->
    <!--        <div th:object="${roleObj}">-->
    <!--            <input type="text" th:field="*{role}"  id="role">-->
    <!--        </div>-->
    <label>role</label>
    <td th:object="${roleObj}">
        <select th:field="*{role}">
            <!--                <option value=""> select role </option>-->
            <option th:each="type : ${roleSet}"
                    th:value="${type.getAuthority()}"
                    th:text="${type.getAuthority()}">
            </option>
        </select>
    </td>
    <input type="submit" value="Edit user">
</form>
















<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->
<!--<form th:method="POST" th:action="@{/admin/edit}" th:object="${user}">-->

<!--    <input type="hidden" name="id" th:value="${user.getId()}">-->

<!--    <label for="name">name</label>-->

<!--    <input type="text" th:field="*{username}"  id="name">-->

<!--    <label for="surname">surname</label>-->

<!--    <input type="text" th:field="*{surname}" id="surname">-->

<!--    <label for="password">password</label>-->

<!--    <input type="text" th:field="*{password}" id="password">-->
<!--    -->
<!--    <label>role</label>-->
<!--    <td th:object="${roleObj}">-->
<!--        <select th:field="*{role}">-->
<!--            &lt;!&ndash;                <option value=""> select role </option>&ndash;&gt;-->
<!--            <option th:each="type : ${roleSet}"-->
<!--                    th:value="${type.getAuthority()}"-->
<!--                    th:text="${type.getAuthority()}">-->
<!--            </option>-->
<!--        </select>-->
<!--    </td>-->
<!--    -->
<!--    <input type="submit" value="Edit user">-->

<!--</form>-->

<!--<button >-->
<!--    <a th:href="@{/logout}">logout</a>-->
<!--</button>-->
<!--</body>-->
<!--</html>-->